include ../../components/room-select-form/room-select-form
include ../../components/register-form/register-form
include ../../components/book-form/book-form
include ../../components/login-form/login-form

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Cards
  body
    .container.mt150
      .row
        .column#tepm-column
          +room-select-form()(class='mb40')
          +register-form()
        .column
          +book-form({number: 888,
            lux: true,
            price: 9990,
            symbol: '₽',
            orderList: [
              {caption: '9 990₽ х 4 суток', price: '39 960'},
              {caption: 'Сбор за услуги: скидка 2 179₽', info: 'Вы не оплачиваете сбор за услуги при заказе от 10000', price: '0'},
              {caption: 'Сбор за дополнительные услуги', info: 'Дополнительные услуги отмечены в дополнительном соглашении', price: '300'},
            ],
            total: 38081
          })(class='mb40')
          +login-form()
        .column

