include ../../components/room-select-form/room-select-form
include ../../components/register-form/register-form
include ../../components/book-form/book-form
include ../../components/login-form/login-form
include ../../components/product-card/product-card

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Cards
  body
    .container.mt150
      .row.row_space-between
        div(class="col col_md-half col_lg-third col_sm-align-center")
          +room-select-form()(class='mb40')
          +register-form()
        div(class="col col_md-half col_lg-third col_sm-align-center")
          +book-form({number: 888,
            lux: true,
            price: 9990,
            symbol: '₽',
            orderList: [
              {caption: '9 990₽ х 4 суток', price: '39 960'},
              {caption: 'Сбор за услуги: скидка 2 179₽', info: 'Вы не оплачиваете сбор за услуги при заказе от 10000', price: '0'},
              {caption: 'Сбор за дополнительные услуги', info: 'Дополнительные услуги отмечены в дополнительном соглашении', price: '300'},
            ],
            total: 38081
          })(class='mb40')
          +login-form()
        div(class="col col_md-half col_lg-third col_sm-align-center")
          +input({blockId: 'datepicker-show', mode: "date"})
          script.
            window.addEventListener("load", function () {
              let clickEvent = new Event("click");
              let elem = document.querySelector('#datepicker-show');
              elem.dispatchEvent(clickEvent);

              document.addEventListener('click', function () {
                elem.dispatchEvent(clickEvent);
              });
            });
          +product-card({
            blockId: 'product-card-1',
            number: 888,
            lux: true,
            price: 9990,
            symbol: '₽',
            reviews: 145,
            images: ['/img/rooms/room-888-preview-1.jpg', '/img/rooms/room-888-preview-2.jpg', '/img/rooms/room-888-preview-3.jpg', '/img/rooms/product-stub.png']
          })(class='product-card_focused')
          +product-card({
            number: 840,
            price: 9900,
            symbol: '₽',
            rate: 4,
            reviews: 65,
            images: ['/img/rooms/room-840-preview-1.jpg', '/img/rooms/room-888-preview-2.jpg', '/img/rooms/room-888-preview-3.jpg', '/img/rooms/product-stub.png']
          })