include ../../components/room-select/room-select

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Cards
  body
    .container.mt150
      .row
        .column
          +room-select()
        .column
        .column