include ../../components/room-select-form/room-select-form

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Cards
  body
    .container.mt150
      .row
        .column
          +room-select-form()
        .column
        .column