include ../../components/input/input

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Form Elements
  body
    .container.wrapper
      .column
        +input({labelText: "text field", placeholder: "Email"})
        +input({labelText: "text field", placeholder: "Email", addClass: "focused"})
        +input({labelText: "dropdown", mode: "dropdown", value: "Сколько гостей"})
        +input({id: "date1", labelText: "masked text field", placeholder: "ДД.ММ.ГГГГ", mask: "99/99/9999"})
      .column
      .column