include ../../components/input-block/input-block
include ../../components/date-pair/date-pair

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Form Elements
  body
    .container.wrapper
      .column
        +input-block({label: "text field", placeholder: "Email"})
        +input-block({label: "text field", placeholder: "Email"})(class="focused")
        +input-block({mode: "dropdown", label: "dropdown", value: "Сколько гостей"})
        +input-block({mode: "date", id: "ui-single-date", label: "masked text field", placeholder: "ДД.ММ.ГГГГ", mask: "00.00.0000"})
        +date-pair({mode: "dropdown", classInput: "field-small", label: "date dropdown", placeholder: "ДД.ММ.ГГГГ", mask: "00.00.0000" })
      .column
      .column