.book-form {
  &__legend {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__guests {
    margin-bottom: 22px;
  }

  &__list {
    font-size: 14px;
    line-height: 19px;
    color: $darkShade075;
    margin-bottom: 15px;
  }

  &__elem {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
  }

  &__elem-left {
    width: 62%;
    padding-right: 5px;

    @media (min-width: 1200px) {
      width: 220px;
    }
  }

  &__elem-right {
    display: flex;
    flex-grow: 1;
  }

  &__elem-info {
    @include size(20px);
    box-shadow: inset 0 0 0 1px $darkShade025;
    color: $darkShade025;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;

    &:hover, &:focus {
      box-shadow: inset 0 0 0 1px $darkShade075;
      color: $darkShade075;
    }
  }

  &__elem-price {
    margin-left: auto;
  }

  &__total {
    display: flex;
    font-family: $openSansFont;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: $darkShade;
    margin-bottom: 20px;
  }

  &__total-center {
    margin: 0 5px;
    flex-grow: 1;
    border-bottom: 1px dotted $darkShade025;
    transform: translateY(-5px);
  }

}