// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;
//$quicksandFont           : 'Quicksand', Helvetica, Arial, sans-serif; // not working !!!
$openSansFont            : 'OpenSans', Helvetica, Arial, sans-serif;
$mainFontSize            : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 18px;

// Grid
$desktopWidth            : 1440px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Colors
$darkShade               : #1F2041;
$darkShade005            : rgba(31, 32, 65, .05);
$darkShade01             : rgba(31, 32, 65, .1);
$darkShade025            : rgba(31, 32, 65, .25);
$darkShade03             : rgba(31, 32, 65, .3);
$darkShade05             : rgba(31, 32, 65, .5);
$darkShade075            : rgba(31, 32, 65, .75);
$purple                  : #BC9CFF;
$purple025               : rgba(188, 156, 255, .25);
$blue                    : #8BA4F9;
$blue025                 : rgba(139, 164, 249, .25);
$green                   : #6FCF97;
$turquoiseBlue           : #66D2EA;

// Decor
$borderRadius            : 4px;