.register-form {
  &__name {
    margin-bottom: 10px !important;
  }

  &__surname {
    margin-bottom: 7px !important;
  }

  &__gender {
    margin-bottom: 23px;
  }

  &__birthday {
    margin-bottom: 19px !important;
  }

  &__email {
    margin-bottom: 10px !important;
  }

  &__password {
    margin-bottom: 2px !important;
  }

  &__subscribe {
    margin-bottom: 18px;
  }

  &__submit {
    margin-bottom: 30px;
  }

  &__comein {
    width: 99px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__bottom-text {
    font-size: 14px;
    line-height: 18px;
    pointer-events: none;
    padding-right: 10px;

    @media (min-width: 420px) {
      padding-right: 35px;
    }
  }
}