doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Оглавление
  body.container
    h1 Оглавление
    ul
      li
        h2= 'UI kit'
        ul
          li
            a(href='dev/FormElements.html').ml20= 'Form Elements'
          li
            a(href='dev/Cards.html').ml20= 'Cards'
          li
            a(href='dev/HeadersFooters.html').ml20= 'Headers & Footers'
      li
        h2= 'Website pages'
        ul
          li
            a(href='landing-page.html').ml20= 'landing page'
          li
            a(href='search-room.html').ml20= 'Search room'
          li
            a(href='room-details.html').ml20= 'Room details'
          li
            a(href='registration.html').ml20= 'Registration'
          li
            a(href='sign-in.html').ml20= 'Sign in'