extends base
include ../components/room-select-form/room-select-form

block main
  section.landing
    .landing__container
      picture.landing__picture
        source(media='(min-width: 768px)' srcset='/img/landing-page.jpg')
        img(src='/img/landing-page_mobile.jpg')
      +room-select-form().landing__form
      p.landing__promo= 'Лучшие номера для вашей работы, отдыха и просто вдохновения'