extends dev/base
include ../components/login-form/login-form

block title
  ='Sign in'
block main
  section.sign-in.one-form
    .sign-in__container.one-form__container
      picture.sign-in__picture.one-form__picture
        source(media='(min-width: 768px)' srcset='/img/registration.jpg')
        img(src='/img/registration_mobile.jpg')
      +login-form().sign-in__form.one-form__form