include ../input/input

mixin date-pair(options)
  -
    var blockId = options.blockId ? options.blockId : false;
    var attrClass = attributes.class ? (' '+attributes.class) : '';
    var options_1 = JSON.parse(JSON.stringify(options));
    var options_2 = JSON.parse(JSON.stringify(options));
    if (options.hasOwnProperty('mode')) {
      var modeArray = options['mode'].split('|');
      if (!modeArray.includes('date')) {
        options_1['mode'] += '|date';
        options_2['mode'] += '|date';
      }
    } else {
        options_1['mode'] = 'date';
        options_2['mode'] = 'date';
    }

    options_1['inputId'] = '_' + Math.random().toString(36).substr(2, 9);
    options_2['inputId'] = '_' + Math.random().toString(36).substr(2, 9);
    options_1['oneFor'] = options_2['inputId'];
    options_2['twoFor'] = options_1['inputId'];
    options_1['label'] = options['label_1'] ? options['label_1'] : false;
    options_2['label'] = options['label_2'] ? options['label_2'] : false;


  div(class='date-pair'+attrClass id=blockId)
    +input(options_1)(class='date-pair__one')
    +input(options_2)(class='date-pair__two')