.checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;

  &_expandable &__caption {
    cursor: pointer;
    position: relative;
  }

  @media (min-width: 768px) {
    align-items: flex-start;
  }
  @media (min-width: 992px) {
    max-width: 320px;
  }

  &__rich-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: $darkShade075;
    margin-bottom: 5px;
  }

  &__caption {
    width: 100%;
    margin-bottom: 12px;

    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  &__elem {
    padding: 6px 0;
    color: $darkShade05;

    &_rich {
      padding-top: 4px;
      padding-bottom: 5px;
    }
  }

  &__input {
    display: none;
  }

  &__label {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    transition: all .3s ease;

    &_rich {
      font-size: 12px;
      line-height: 14px;
    }

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;

      @include size(20px);
      background: #FFFFFF;
      border: 1px solid $darkShade025;
      box-sizing: border-box;
      border-radius: 4px;
      transition: all .3s ease;
    }

    &:hover, &:focus {
      color: $darkShade075;
    }
  }

  &__input:checked + &__label {
    &::after {
      content: '';
      display: block;
      @include size(6px, 8px);

      position: absolute;
      top: 5px;
      left: 7px;

      transform: rotate(45deg);
      border: 2px solid #BC9CFF;
      border-top: none;
      border-left: none;
    }
    &::before {
      border-color: #BC9CFF;
    }
  }

  &__dropdown-button {
    position: absolute;
    height: 100%;
    width: rem(40);
    right: 0;
    top: 1px;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      position: absolute;

      top: 0;
      right: 16px;
      @include size(9px);
      border: 2px solid $darkShade05;
      border-right: none;
      border-top: none;
      transform: rotate(-45deg);
    }
  }
  &.expanded &__dropdown-button::before {
    transform: rotate(135deg);
    top: 5px;
  }

  &_expandable &__list {
    display: none;
  }
  &.expanded &__list {
    display: block;
  }


  // toggler
  &_toggler &__caption {
    margin-bottom: 8px;
  }

  &_toggler &__elem {
    padding: 8px 0;
  }

  &_toggler &__label {
    padding-left: 50px;
    color: $darkShade075;

    &::before {
      @include size(40px, 20px);
      background: #FFFFFF;
      border: 1px solid $darkShade025;
      border-radius: 10px;
    }

    &::after {
      content: '';
      display: block;
      @include size(12px);

      position: absolute;
      top: 4px;
      left: 4px;
      transition: all .2s ease-in-out;

      border-radius: 50%;
      background: $darkShade025;
    }
  }

  &_toggler &__input:checked + &__label {
    &::after {
      @include size(12px);
      top: 4px;
      left: 24px;

      border-radius: 50%;
      background: linear-gradient(180deg, $purple 0%, $blue 100%);
    }
  }

}