.input-block {
  // default text field
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;

  &__label {
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__input {
    font: inherit;
    border: 1px solid $darkShade025;
    border-radius: $borderRadius;
    padding: 12px 15px;
    //min-width: 320px;
    width: 100%;
    color: $darkShade075;

    &:read-only {
      cursor: default;
    }

    &::placeholder {
      color: $darkShade025;
    }
  }

  &.expanded &__input,
  &:focus &__input,
  &:hover &__input {
    border-color: $darkShade05;
  }

  &.expanded &__select-list {
    display: block;
  }

  //dropdown
  &[data-dropdown-for] &__input-wrapper * {
    cursor: pointer;
  }
  &__input-wrapper {
    position: relative;
  }
  &__dropdown-button,
  &__subscribe-button {
    position: absolute;
    height: 100%;
    width: rem(40);
    right: 0;
    top: 0;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      position: absolute;
    }
  }
  &__dropdown-button::before {
    top: rem(13);
    right: rem(16);
    @include size(9px);
    border: 2px solid $darkShade05;
    border-right: none;
    border-top: none;
    transform: rotate(-45deg);
  }
  &__subscribe-button {
    &::before {
      top: calc(50% - 1px);
      right: 15px;
      @include size(14px, 2px);
      background: $purple;
    }
    &::after {
      content: '';
      display: block;

      position: absolute;
      top: calc(50% - 6px);
      right: 15px;

      @include size(12px);
      border: 2px solid $purple;
      border-bottom: none;
      border-right: none;
      transform: rotate(135deg);
    }
  }

  &__select-list {
    display: none;
    padding: 6px 6px 7px 13px;

    font-size: 12px;
    line-height: 15px;

    border: 1px solid $darkShade05;
    border-top: none;
    border-radius: 0 0 $borderRadius $borderRadius;
  }
  &__select-elem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    text-transform: uppercase;
    font-weight: 600;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__select-left,
  &__select-right {
    display: flex;
    //align-items: center;
  }
  &__select-left {
    padding-top: 6px;
  }
  &__select-name {
    pointer-events: none;
    user-select: none;
  }
  &__select-sum {
    width: 32px;
    padding-top: 6px;
    text-align: center;
    pointer-events: none;
    user-select: none
  }
  &__select-minus,
  &__select-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    @include size(30px, 30px);
    border-radius: 50%;
    border: 1px solid $darkShade025;

    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: $darkShade05;
    cursor: pointer;
    user-select: none
  }
  &__select-minus[disabled] {
    opacity: .38;
    pointer-events: none;
  }

}