.input-block {
  // default text field
  display: flex;
  flex-direction: column;
  margin: 0;

  &__label {
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__input {
    font: inherit;
    border: 1px solid $darkShade025;
    border-radius: 4px;
    padding: 12px 15px;
    min-width: 320px;
    color: $darkShade075;

    &::placeholder {
      color: $darkShade025;
    }
  }

  &:focus &__input, &:hover &__input {
    border-color: $darkShade05;
  }

  //dropdown
  &__content {
    position: relative;
  }
  &__dropdown-button {
    position: absolute;
    height: 100%;
    width: rem(40);
    right: 0;
    top: 0;
    cursor: pointer;

    &::before {
      content: '';
      display: block;
      position: absolute;

      top: rem(13);
      right: rem(16);
      @include size(9px);
      border: 2px solid $darkShade05;
      border-right: none;
      border-top: none;
      transform: rotate(-45deg);
    }
  }
}