.footer {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 10px 20px $darkShade01;

  &_UI {
    position: unset;
  }

  &__top {
    padding: 50px 15px 4px;
    margin: 0 auto;
  }
  &:not(.footer_mobile) &__top {
    @media (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
      padding-top: 100px;
      padding-bottom: 79px;
    }
  }

  &__bottom {
    padding-bottom: 87px;
  }

  &:not(.footer_mobile) &__bottom {
    @media (min-width: $smDesktop) {
      padding-bottom: 0;
      border-top: 1px solid #E0E0E2;
    }
  }

  &__bottom-wrapper {
    display: flex;
    padding: 24px 15px;
    margin: 0 auto;
  }

  &_UI &__top, &_UI &__bottom-wrapper {
    @media (min-width: $desktop) {
      width: 1190px;
    }
  }

  &__logo {
    text-align: center;
  }
  &:not(.footer_mobile) &__logo {
    @media (min-width: $smDesktop) {
      padding-bottom: 25px;
    }

    @media (min-width: $desktop) {
      text-align: left;
      max-width: 22%;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 24px;
    color: $darkShade075;
    padding-top: 18px;
  }

  &__nav {
    display: none;
  }
  &:not(.footer_mobile) &__nav {
    justify-content: center;

    @media (min-width: $smDesktop) {
      display: flex;
      flex-grow: 1;
      margin-left: 20px;
    }
    @media (min-width: $desktop) {
      justify-content: space-between;
      margin-left: 0;
    }
  }

  &:not(.footer_mobile) &__nav-content {
    @media (min-width: $desktop) {
      margin-left: -20px;
    }
  }

  &__nav-column {
    padding-top: 4px;
    padding-right: 120px;
    white-space: nowrap;

    &:last-child {
      padding-right: 0;
    }
  }
  &:not(.footer_mobile) &__nav-column {
    @media (min-width: $desktop) {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      padding-right: 0;
    }
  }

  &__caption {
    font-family: $mainFont;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $darkShade;
    padding-bottom: 22px;
  }

  &__nav-link {
    display: block;
    padding-bottom: 21px;
    font-size: 14px;
    line-height: 17px;
    color: $darkShade05;
  }

  &__subscribe {
    display: none;
  }
  &:not(.footer_mobile) &__subscribe {
    @media (min-width: $smDesktop) {
      display: block;
      text-align: center;
      padding-top: 20px;
      width: 50%;
      margin: 0 auto;
    }

    @media (min-width: $desktop) {
      text-align: left;
      padding-top: 4px;
      margin: 0 0 0 20px;
      max-width: 22.5%;
    }
  }

  &__subscribe &__caption {
    padding: 0;
  }

  &__subscribe &__description {
    padding-bottom: 24px;
  }

  &__copyright {
    display: none;
  }
  &:not(.footer_mobile) &__copyright {
    @media (min-width: $smDesktop) {
      display: block;
      padding-top: 3px;
      margin-right: auto;
      font-size: 14px;
      line-height: 17px;
      color: $darkShade075;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  &:not(.footer_mobile) &__social {
    @media (min-width: $smDesktop) {
      margin-left: auto;
      margin-right: unset;
    }
  }

  &__social-link_padding {
    padding-left: 22px;
  }
}