body {
  font: $mainFontWeight #{$mainFontSize}/#{$mainLineHeight} $mainFont;
  min-width: $smPhoneWidth;
  margin: 0;
  padding: 0;
}

a:not([href]) {
  pointer-events: none;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 25px 15px 0;

  @media (min-width: 1200px) {
    max-width: unset;
  }
}

.field-container {
  width: 100%;

  @media (min-width: 992px) {
    max-width: 320px;

    &_lg-small {
      width: 266px;
    }
  }
}

.col {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;

  &_md-half {
    @media (min-width: 768px) {
      width: 48%;
    }
  }
  &_lg-third {
    @media (min-width: 992px) {
      width: 31%;
    }
  }
  &_sm-align-center {
    align-items: center;
  }
  &_md-align-center {
    @media (min-width: 768px) {
      align-items: center;
    }
  }
  &_md-align-left {
    @media (min-width: 768px) {
      align-items: flex-start;
    }
  }
  &_xlg-align-center {
    @media (min-width: 1200px) {
      align-items: center;
    }
  }
  &_md-only-margin-center {
    @media (min-width: 768px) and (max-width: 991px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  &_space-between {
    justify-content: space-between;
  }

  &_sm-justify-center {
    justify-content: center;
  }

  &_lg-justify-left {
    @media (min-width: 992px) {
      justify-content: flex-start;
    }
  }

  &_xlg-justify-center {
    @media (min-width: 1200px) {
      justify-content: center;
    }
  }
}

.caption {
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 16px;
  text-align: center;

  @media (min-width: 992px) {
    text-align: left;
  }
  &_xlg-align-center {
    @media (min-width: 1200px) {
      text-align: center;
    }
  }
}

.canted {
  border-radius: $borderRadius $borderRadius 0 0 !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}
/*
.mb100 {
  margin-bottom: 100px !important;
}
 */
/*
.mt140 {
  margin-top: 140px !important;
}
 */

.mt150 {
  margin-top: 150px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr20 {
  margin-right: 20px !important;
}

// mixin classes
.form {
  display: flex;
  flex-direction: column;
  padding: 40px 30px 30px;
  width: 100%;
  background: #FFFFFF;
  box-shadow:
          inset 0 0 0 1px rgba(0, 0, 0, 0.12),
          0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: $borderRadius;

  &__legend {
    font-family: $openSansFont;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;

    color: $darkShade;
  }

  &__number {
    font-family: $openSansFont;
    font-weight: 700;
    color: $darkShade;
  }

  &__number-symbol {
    font-size: 14px;
    line-height: 17px;
    margin-right: 7px;
  }

  &__number-value {
    margin-right: 6px;
    font-size: 24px;
    line-height: 30px;
  }

  &__lux {
    font-family: $mainFont;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $purple;
  }

  &__price {
    padding-top: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: $darkShade05;
  }

  &__price-subtext {
    font-weight: 400;
    font-size: 12px;
    margin-left: 4px;
  }

  &__submit {
    margin: 0 auto;
  }
}