body {
  font: $mainFontWeight #{$mainFontSize}/#{$mainLineHeight} $mainFont;
  color: $darkShade075;
  min-width: 320px;
  margin: 0;
  padding: 0;

  &.lock {
    overflow: hidden;
  }
}

a {
  color: $darkShade075;
  &:not([href]) {
    pointer-events: none;
  }
}

h1, h2, h3 {
  font-family: $openSansFont;
  font-weight: 700;
  color: $darkShade;
}

h1 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}

h2 {
  font-size: 19px;
  line-height: 24px;
}

h3 {
  font-family: $mainFontWeight !important;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 25px 15px 0;

  @media (min-width: $desktop) {
    max-width: unset;
  }
}

.field-container {
  width: 100%;

  @media (min-width: $smDesktop) {
    max-width: 320px;

    &_lg-small {
      width: 266px;
    }
  }
}

.col {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;

  &_md-half {
    @media (min-width: $tablet) {
      width: 48%;
    }
  }
  &_lg-third {
    @media (min-width: $smDesktop) {
      width: 31%;
    }
  }
  &_sm-align-center {
    align-items: center;
  }
  &_md-align-center {
    @media (min-width: $tablet) {
      align-items: center;
    }
  }
  &_md-align-left {
    @media (min-width: $tablet) {
      align-items: flex-start;
    }
  }
  &_xlg-align-center {
    @media (min-width: $desktop) {
      align-items: center;
    }
  }
  &_md-only-margin-center {
    @media (min-width: $tablet) and (max-width: 991px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;

  &_space-between {
    justify-content: space-between;
  }

  &_sm-justify-center {
    justify-content: center;
  }

  &_lg-justify-left {
    @media (min-width: $smDesktop) {
      justify-content: flex-start;
    }
  }

  &_xlg-justify-center {
    @media (min-width: $desktop) {
      justify-content: center;
    }
  }
}

.caption {
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 16px;
  text-align: center;

  @media (min-width: $smDesktop) {
    text-align: left;
  }
  &_xlg-align-center {
    @media (min-width: $desktop) {
      text-align: center;
    }
  }
}

.canted {
  border-radius: $borderRadius $borderRadius 0 0 !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}
/*
.mb100 {
  margin-bottom: 100px !important;
}
 */
/*
.mt140 {
  margin-top: 140px !important;
}
 */

.mt150 {
  margin-top: 150px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.ml20 {
  margin-left: 20px !important;
}

// mixin classes
.form {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px;
  width: 100%;
  background: #FFFFFF;
  box-shadow:
          inset 0 0 0 1px rgba(0, 0, 0, 0.12),
          0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: $borderRadius;

  @media (min-width: 768px) {
    padding: 40px 30px 30px;
  }

  &__legend {
    font-family: $openSansFont;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;

    color: $darkShade;
  }

  &__number {
    font-family: $openSansFont;
    font-weight: 700;
    color: $darkShade;
  }

  &__number-symbol {
    font-size: 14px;
    line-height: 17px;
    margin-right: 7px;
  }

  &__number-value {
    margin-right: 6px;
    font-size: 24px;
    line-height: 30px;
  }

  &__lux {
    font-family: $mainFont;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $purple;
  }

  &__price {
    padding-top: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: $darkShade05;
  }

  &__price-subtext {
    font-weight: 400;
    font-size: 12px;
    margin-left: 4px;
  }

  &__submit {
    margin: 0 auto;
  }
}

.landing {
  &__container {
    //max-width: 1440px;
    //margin: 0 auto;
    position: relative;
    padding: 70px 0 20px;

    @media (min-width: $tablet) {
      height: 570px;
      padding-top: 150px;
      padding-left: 50px;
      padding-bottom: 80px;
    }

    @media (min-width: $smDesktop) {
      height: 600px;
      padding-left: 100px;
      padding-top: 140px;
    }

    @media (min-width: $desktop) {
      height: 900px;
    }
  }

  &__picture {
    width: 100%;

    @media (min-width: $tablet) {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      height: inherit;
    }
  }

  &__picture img {
    width: 100%;
    height: 200px;
    object-fit: cover;

    @media (min-width: $tablet) {
      height: 100%;
    }
  }

  &__form {
    margin: 0 auto 20px;
    padding-top: 25px;

    @media (min-width: $tablet) {
      max-width: 380px;
      margin: 0;
      padding-top: 40px;
    }
  }

  &__promo {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    line-height: 24px;

    @media (min-width: $tablet) {
      position: absolute;
      bottom: 21px;
      right: 50px;
      text-align: right;
    }
    @media (min-width: $smDesktop) {
      right: 134px;
    }
  }
}

.search-room {
  padding: 65px 15px;
  border-bottom: 1px solid $darkShade025;

  @media (min-width: $tablet) {
    padding-top: 90px;
  }

  @media (min-width: $smDesktop) {
    display: grid;
    grid-template-columns: 266px auto;
    grid-column-gap: 60px;
    padding: 100px 15px 70px 15px;
  }

  &__button {
    margin-top: 20px;
    margin-left: 50%;
    transform: translateX(-50%);

    @media (min-width: $smDesktop) {
      display: none;
    }
  }

  &__filter {
    z-index: -1;
    opacity: 0;
    transform: translateY(8px);
    transition: opacity .3s ease,transform .3s ease;
    height: 0;
    overflow: hidden;

    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: repeat(2, minmax(260px, 1fr));
      grid-gap: 20px;
    }

    @media (min-width: $smDesktop) {
      z-index: 1;
      opacity: 1;
      transform: none;
      transition: none;
      height: auto;
      display: block;
      padding-top: 0;
    }

    &.expanded {
      padding-top: 20px;
      position: unset;
      opacity: 1;
      transform: translate(0);
      transition: opacity .3s ease,transform .3s ease;
      z-index: 10;
      height: auto;
    }
  }

  &__range {
    @media (min-width: $tablet) {
      grid-column: span 2;
    }
  }

  &__checkbox .checkbox__caption {
    margin-bottom: 10px;
  }

  &__checkbox-br {
    @media (min-width: 375px) and (max-width: $smDesktop - 1px) {
      display: none;
    }
  }

  &__checkbox-whitespace {
    display: none;
    @media (min-width: 375px) and (max-width: $smDesktop - 1px) {
      display: inline;
    }
  }

  &__caption {
    font-family: $openSansFont;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $darkShade;
  }

  &__catalog-list {
    @media (min-width: $smDesktop) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(270px,1fr));
      grid-column-gap: 12px;
      grid-row-gap: 22px;
      margin-bottom: 43px;
    }
  }

  &__catalog-item {
    @media (max-width: $smDesktop - 1px) {
      margin-bottom: 20px;
    }
  }

  &__pagination {
    @media (min-width: $smDesktop) {
      transform: translateX(-7px);
    }
  }
}

.room-details {
  &__img {
    width: 100%;
  }

  &__content {
    padding: 15px;
  }

  &__caption {
    font-family: $openSansFont;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: $darkShade;
    //margin-bottom: 20px;
  }
}

.diagram-circle {
  &__number, &__label {
    font-weight: 700;
    fill: $purple;
  }

  &__number {
    font-family: $openSansFont;
    font-size: 14px;
  }

  &__label {
    font-family: $mainFont;
    font-size: 7px;
  }
}