@import "utils/vars";
@import "utils/fonts";
@import "utils/mixins";
@import "utils/reset";

body {
  font: $mainFontWeight #{$mainFontSize}/#{$mainLineHeight} $mainFont;
  min-width: $smPhoneWidth;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 0 140px;
}

.field-small {
  width: 150px !important;
}

.canted {
  border-radius: $borderRadius $borderRadius 0 0 !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.datepicker {
  box-sizing: border-box;
  border: 1px solid $darkShade025;
  box-shadow: 0 10px 20px $darkShade005;

  &--pointer {
    display: none;
  }

  &--nav {
    padding: 20px;
    border-bottom: none;
  }

  &--nav-action {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: '';
      display: block;
      color: $purple;
    }

    &::before {
      top: 5px;
      @include size(12px);
      border: 2px solid;
      border-top: none;
      border-right: none;
    }

    &::after {
      top: 10px;
      @include size(14px, 2px);
      background-color: $purple;
    }

    &[data-action="prev"] {
      &::before,
      &::after {
        left: 5px;
      }

      &::before {
        transform: rotate(45deg);
      }
    }

    &[data-action="next"] {
      &::before,
      &::after {
        right: 5px;
      }

      &::before {
        transform: rotate(-135deg);
      }
    }
  }

  &--nav-title {
    font-family: 'Quicksand', Arial, sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
  }

  &--content {
    width: inherit;
    box-sizing: border-box;
    padding: 0 20px;

    &.-range-start- .-range-from-::before {
      content: none;
    }

    &.datepicker-small .datepicker--cell {
      height: 2rem;
    }
  }

  &--days-names {
    margin: 8px 0 0;
  }

  &--day-name,
  &--cell {
    height: rem(40, 16);
    font-family: $mainFont;
    font-size: 12px;
    line-height: 15px;
    cursor: default;
  }

  &--cell {
    border-radius: 50%;

    &.-current- {
      color: unset;
    }
    &.-selected-,
    &.-selected-.-other-month- {
      font-weight: 700;
      background: linear-gradient(180deg, $green 0%, #66D2EA 100%);
    }
    &.-selected-.-focus-:not(.-range-from-) {
      background: linear-gradient(180deg, #b7e7cb 0%, #b3e9f5 100%);
    }
    &.-in-range- {
      background: linear-gradient(180deg, $purple025 0%, $blue025 100%);
      color: $darkShade05;
    }
    &.-range-from-,
    &.-range-to- {
      position: relative;

      color: #fff;
      font-weight: 700;
      border-radius: 50% !important;
      border: none;
      background: linear-gradient(180deg, $purple 0%, $blue 100%) !important;
    }
    &.-range-from-::before,
    &.-range-to-::before {
      content: '';
      display: block;
      width: 50%;
      height: 100%;

      position: absolute;
      top: 0;

      background: linear-gradient(180deg, $purple025 0%, $blue025 100%);
      z-index: -1;
    }

    &.-range-from-::before {
      left: 50%;
    }

    &.-range-to-::before {
      right: 50%;
    }
  }

  &--day-name {
    color: #BC9CFF;
    font-weight: 700;
    text-transform: none;
  }

  &--buttons {
    justify-content: space-between;
    padding: 12px 20px;
    font-family: $mainFont;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;

    .datepicker--button {
      display: block;
      flex: unset;
      padding: 8px 0;
    }
    .datepicker--button:nth-child(odd) {
      justify-content: flex-start;
    }
    .datepicker--button:nth-child(even) {
      justify-content: flex-end;
    }

    & [data-action="clear"] {
      color: $darkShade05;
    }

    & [data-action="selectDate"] {
      color: $purple;
    }
  }
}

@import "../components/input-block/input-block";
@import "../components/checkbox-block/checkbox-block";
@import "../components/advantages-block/advantages-block";
@import "../components/radio-block/radio-block";