@import "utils/vars";

.container {
  max-width: 1190px !important;

  @media (min-width: 1200px) {
    margin-top: 115px;
  }
}

.input {
  margin-bottom: 21px;
}

.product-card {
  &_focused &__arrows {
    opacity: 1;
  }
}

#row-1-3-2-1 {
  margin-bottom: 24px;
}

#row-1-3-2-3 {
  margin-bottom: 32px !important;
}

#col-2-1, #col-3-1 {
  @media (min-width: 1200px) {
    margin-right: 110px;
  }
}

#col-2-1 {
  margin-bottom: 120px;

  @media (min-width: 1200px) {
    margin-bottom: 151px;
  }
}

#col-2-1, #col-3-1, #input-small-1, #input-small-2, #row-1-3-2-1 {
  @media (min-width: 1200px) {
    width: 266px;
  }
}

#col1-1, #col1-2, #col1-3, #col-2-2, #col-2-3, #col-3-2, #col-3-3 {
  @media (min-width: 1200px) {
    width: 320px;
  }
}

#col-3-1 {
  @media (min-width: 1200px) {
    margin-bottom: 0;
  }
}

#col-2-2 {
  margin-bottom: 90px;
}

#col-2-3 {
  margin-bottom: 170px;
}

#col1-1 {
  margin-left: 2px;
  @media (min-width: 1200px) {
    margin-right: 52px;
    margin-bottom: 71px;
  }
}

#col-1-3-1 {
  margin-bottom: 44px;
}

#col-4-1 {
  @media (min-width: 1200px) {
    margin-right: 193px;
    width: auto;
  }
}

#col-4-2 {
  padding-top: 30px;
  @media (min-width: 1200px) {
    max-width: calc(100% - 320px - 128px);
  }
}

#input-focused {
  margin-bottom: 20px;
}

#dropdown-1 {
  margin-bottom: 22px;
}

#dropdown-recount {
  margin-bottom: 20px;
}

#checkbox-minimized {
  margin-bottom: 49px;
  margin-left: 2px;

  @media (min-width: 1200px) {
    margin-bottom: 37px;
  }
}

#checkbox-bottom {
  margin-bottom: 16px;
}

#checkbox-top {
  margin-bottom: 36px;
}

#checkbox-toggler {
  margin-bottom: 38px;
}

#rate-wrapper-caption {
  margin-bottom: 18px;
}

#rate-wrapper {
  margin-left: 2px;
}

#input-list-apply {
  margin-bottom: 99px;
}

#button-1, #button-2 {
  margin-right: 19px;
}

#button-3 {
  margin-right: 21px;
  margin-left: 1px;
}

#bullets-caption {
  margin-bottom: 9px;
}

#datepicker-show {
  transform: translateY(-50px);
  visibility: hidden;
  margin-bottom: 115%;
}

#product-card-1 {
  margin-bottom: 42px;
}