@import "utils/vars";

.wrapper {
  margin: 140px auto;
}

.input-block {
  &_focused &__input {
    border-color: $darkShade05;
  }
}

.column {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.row {
  display: flex;
  justify-content: space-between;
}

#filter-column {
  width: 266px;
}