@import "utils/vars";

.wrapper {
  margin: 140px auto;
}

.input-block {
  margin-bottom: 20px;

  &.focused &__input {
    border-color: $darkShade05;
  }
}

.column {
  display: flex;
  flex-direction: column;
}
